<div class="container">
  <h2>Add Products</h2>
  <form action="/" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
      <label for="text">Name:</label>
      <input type="text" class="form-control"  formControlName="name" id="name" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label for="number">Price:</label>
      <input type="number" class="form-control" formControlName="price" id="number" placeholder="Enter price" name="price">
    </div>
    <div class="form-group">
      <label for="text">Image URL:</label>
      <input type="text" class="form-control" formControlName="image" id="name" placeholder="Enter URL" name="image">
    </div>
    <div class="form-group">
      <label for="text">Description:</label>
      <input type="textarea" class="form-control" formControlName="description" id="name" placeholder="Enter Description" name="description">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
